body {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(191, 190, 190);
}



.content {
 background-color: rgb(255, 255, 255);
 padding: 20px;
 border-radius: 25px;
 box-shadow: 3px 4px 25px rgba(93, 216, 241, 0.4)
}

h1{
 color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(220deg,#6ccee4 25%,rgb(141, 6, 204) 50%, rgb(4, 188, 121) 100%,#dd15d0 100% );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.title{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
}

input{
  width: 120px;
  padding: 7px;
  font-size: 16px;
  border-radius: 5px;
  
}


input:focus{
  border-color: rgb(8, 61, 89);
  outline: none;
  
}

button{
  padding: 12px 25px  ;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1.8s;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#check{
  background-color: rgb(2, 42, 51);
  color: rgb(254, 254, 254);
}

#check:hover{
  background-color: rgb(4, 44, 55);
}

#check:active{
  background-color: rgb(9, 49, 65);
}

#check[disabled]{
  background-color: #0a425a;
}

#messege{
  font-style: inherit;
}

.correct {
  color: chartreuse;
}

.incorrect {
  color: brown;
}

.warning {
    color: coral;
}

.fail{
  color: crimson;
  text-transform: uppercase;
}
